$primary: #5fb462;
$primary-faded: #5fb4625b;
$primary-darker: #28702a;
$secondary: #ffffff;
$secondary-faded: #9e9e9ec9;
$font-color: #cbcbcb;
$font-color-faded: #dadbdb33;
$header-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

header {
  display: flex;
  justify-content: flex-end;
  // position: fixed;
  // top: 0;
  // right: 0;
  // z-index: 1;
  // background-color: $secondary-faded;
  // height: 100%;
  // border-left: $primary-darker solid 2px;
  // width: 140px;
  @media screen and(min-width: 500px) {
    width: 90%;
    background-color: transparent;
    position: relative;
    border: none;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      @media screen and(min-width:500px) {
        flex-direction: row;
        font-size: 12px;
      }
      li {
        color: $font-color;
        margin: 10px;
        font-size: 14px;
        padding: auto 10px;
        @media screen and(min-width:500px) {
          font-size: 12px;
        }
        li > a {
          font-size: 12px;
        }
      }
    }
  }
}

.container {
  .form-wrapper {
    @media screen and (min-width: 500px) {
      width: 400px;
    }
    box-shadow: $shadow;
    width: 287px;
    margin: 200px auto;
    border-radius: 7px;
    padding: 1rem;
    height: 450px;
    background-color: $secondary;
    h4 {
      color: $secondary-faded;
    }
    &-header {
      background-image: linear-gradient(to right, $primary, $primary-darker);
      width: 95%;
      height: 150px;
      position: relative;
      top: -75px;
      border-radius: 7px;
      text-align: center;
      margin: 0 auto;
      padding: 1em;
      box-shadow: $shadow;
    }
    &-icons > a > .fab {
      margin: auto 12px;
    }

    form {
      width: 100%;
      padding-top: -15px;
      input {
        width: 100%;
        margin: 5px 5px;
        padding: 10px;
        outline: none;
        border: none;
        color: #333;
        background-color: #fff;
        caret-color: $primary;
        font-family: $body-font;
        border-bottom: 2px solid $secondary-faded;
        &::placeholder {
          color: $secondary-faded;
          text-transform: uppercase;
        }
        &:focus {
          background-color: $primary-faded;
          color: #333;
          border-bottom: 2px solid #28702a;
          &::placeholder {
            color: $primary-darker;
          }
        }
      }
      button {
        font-family: $header-font;
        background-color: $secondary;
        cursor: pointer;
        border: none;
        outline: none;
        color: $primary;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
        font-size: 18px;
        &:hover {
          background-color: $primary;
          border-radius: 10px;
          color: $secondary;
        }
      }
    }
  }
}

.tagline {
  margin-top: -50px;
  text-align: center;
  font-family: $body-font;
  color: $font-color-faded;
}

.button {
  background-image: linear-gradient(to right, $primary, $primary-darker);
  border-radius: 15px;
  font-family: $header-font;
  cursor: pointer;
  border: none;
  outline: none;
  color: $font-color;
  padding: 5px 10px;
  &:hover {
    transition: box-shadow 0.1s;
    box-shadow: 0.2em 0.2em 0 0 #333;
  }
}

.input-group {
  display: flex;
  span {
    order: 1;
    flex-grow: 1;
    margin-top: 17px;
    i {
      color: #333;
    }
  }
  input {
    order: 2;
    flex-grow: 2;
  }
}

.input-group-btn {
  margin: 60px auto 10px auto;
  text-align: center;
}
